{% extends "registration/registration_base.html" %}
{% load uni_form_tags %}
{% block title %}Reset password{% endblock %}
{% block body %}
<h3> Reset Password - Step 1</h3>
<p>
Forgot your password? Enter your email in the form below and we'll send you
instructions for creating a new one.
</p>
<form autocomplete="off" method='post' action='' class="uniForm">{% csrf_token %}
  <fieldset class="inlineLabels">
    {{ form|as_uni_form }}
    <div class="ctrlHolder"> 
      <input type='submit' value="Reset password" class="button"/> 
    </div>
  </fieldset>
</form>
{% endblock %}
