{% extends "base.html" %}

{% block heading %} Footy Tipping {% endblock %}

{% block body %}
  <p>
      <h2> Can't Login? </h2> <h3> 5th September 2010 </h3>
    </p>
      <p>
          The season is over and the results are in! Ben Elliot has powered ahead, taking out first place by 4 points. John and Ben have been battling
          quite hard for the last few rounds, but the native has beaten the international by a fair margin. Good work Benny!
      </p>
      <p>
          Lewis has taken 3rd place with a great result, but just couldn't maintain the lead all season. What began as an impressive battle between Lewis
          and Rob for first place, ended with Rob somewhere near the bottom, and Lewis slowly slipping down the leaderboard. Made for a very interesting
          beginning to the season, and some awesome smack talk from Rob.
      </p>
      <p>
          Special mention goes to Hippy and Alicia for bringing up the rear on equal last. I don't know if they actually made a single tip; but at least
          we know it's hard to win the season favouring only the away teams. Good work ladies! =)
      </p>
      <p>
          And so, the prizes!
          <ol>
              <li> Ben Elliot - $400 </li>
              <li> John Grant - $200 </li>
              <li> Lewis Romano - $60 </li>
          </ol>
          Rob tells me that since John is up North and unable to collect his prize money, that he has <strike>committed to buying a few slabs for the teams still here at Engage</strike> given Rob bank details to transfer cash to. The other winners should expect Rob around sometime during the week.
      </p>
      <p>
          Thanks for playing everyone and lets hope we get a bigger following next year so we can jump those prizes even higher!
      </p>

    <hr />

  <p>
    <h2> Can't Login? </h2> <h3> 23rd May 2011 </h3>
  </p>
    <p>
        Over the last week or so, most people (including me) have had trouble logging in at random times throughout the day. It seems to fix
        itself every so often, but it's still not good. I'm working on fixing it, but I'm guessing at the moment, so there may be periods
        within this week where you're unable to login.
    </p>
    <p>
        If you are having trouble logging in to do your tips, you can email either myself or Rob, and we'll put the tips in for you. Provided that
        we receive the email before the start of a particular game, it's all good. So, our emails:
        <ul>
            <li> josh.smeaton@gmail.com </li>
            <li> rob@redacted.com </li>
        </ul>
    </p>
    <p>
        I'm really hoping that this issue is sorted today, but incase it's not, sorry :(
    </p>
  <hr />

  <p>
    <h2> Some slight changes </h2> <h3> 17th Apr 2011 </h3>
  </p>
    <p>
        There's now a section on the right hand side called 'My Competitions' that will list all (1) the competitions you're registered for. This is just
        a convenience to click right through to the comp you care about, without having to go to a separate intermediate page.
    </p>
    <p>
        I've also played around with some backend settings, so if you notice pages aren't updating properly, or displaying wrong information, please let
        me know!
    </p>
    <p>
        Oh yeah, I've added a comments section to the competition page. Feel free to give each other shit there :D
    </p>
  <hr />

  <p>
    <h2> A Few New Features </h2> <h3> 8th Apr 2011 </h3>
    </p>
    <p>
      Rob tells me that people are wanting to see their tipping history. I don't have the time at the moment to build a nice little table that will show you
      all your wins, losses, and points for each round, so I took the easy option.
    </p>
    <p>
      When a match is complete, it will show who the winner of the match is instead of Home Team vs Away Team. It will now look something like
      <strong>Home Team defeated Away Team.</strong> The tipping buttons will be replaced with who you tipped once tips are no longer accepted for a match.
    </p>
    <p>
      The round detail page will also now show how many tips you got correct for that round. See <a href="/tipping/rounds/2/">Round 2</a> for an
      example of a previous round with the new features.
    </p>
    <p>
      Now a few of you <strike>ROB</strike> were probably expecting a bit more. To be honest, so was I. But the Sensis alchemists decided that their
      project was a higher priority than football tipping.. can you imagine?! So if you care, and are disappointed, go slap one of the guys over there :P.
      I'll get the future/history links on the right done within the week, and a proper tipping history page done the week after that.
    </p>
  <hr />

  <p>
  <h2> Rules Of The Game! </h2> <h3> 28th Mar 2011 </h3>
  </p>
  <p>
    So it occurred to me that, maybe, not every one knows all the rules. I didn't. Rob and I spent some time discussing them and have come up
    with the following.
  </p>
  <p>
  <h3> I forgot to Tip! </h3>
  </p>
  <p>
    Don't worry too much. If you forget to put your tips in one week, we'll calculate your score as if you selected all the away teams. The away
    teams are usually at a disadvantage, so make sure to get your tips in on time so you aren't disadvantaged with them!
  </p>
  <p> <h3> Draws! </h3> </p>
  <p>
    I hadn't considered what would happen if there was a draw until it happened in the very first round! All people receive a point for a draw, since
    it's not possible to choose a draw in this competition. Everyone wins. No one is eligible for clean sweep points if there is a draw however.
  </p>
  <p> <h3> Clean Sweep! </h3> </p>
  <p>
    If you happen to tip all matches in a round correctly (draws don't count!), you will receive 1 extra point for that round. This is our version of
    a weekly prize. If you forgot to tip and all the away teams happen to win, you won't receive clean sweep bonuses either.
  </p>
  <p> <h3> When does tipping close? </h3> </p>
  <p>
    You can tip a match right up until the game begins. That means you can do all your tips on a Wednesday, change your mind on Saturday about a game
    the following day, and change your tip. You can not vote for a game that has already begun. The start and end times of a round don't matter, it's
    all about when the game starts.
  </p>

  <p> <h3> Scoring! </h3> </p>
  <p>
    <ul>
      <li> 1 point for a winning tip </li>
      <li> 0 points for a losing tip </li>
      <li> 1 point for a draw, regardless of tip </li>
      <li> 1 extra point for a 'clean sweep' (see above) </li>
    </ul>
  </p>

  <p> <h3> Leader Board </h3> </p>
  <p>
    The ranking on the leader board is purely based on number of tips. If two people share the same number, the order displayed is order of signup. That
    doesn't matter. We'll use a complicated method of rock, scissors, paper for a tie break (or something) should it be needed at the end of the season.
  </p>

  <p> <h3> ??? </h3> </p>
  <p> <h3> Profit. </h3> </p>
  <hr />

  <p>
  <h2> We've <strike>finally</strike> Launched! </h2> <h3> 28th Mar 2011 </h3>
  </p>
  <p>
    Ok, so you're now able to tip. Once you've signed up to the competition (see open for registration on the right), click
    the 'this weeks tips' link (also on the right.. sensing a pattern?). You should see a list of all the games in the coming week.
    To tip, simply click one of the buttons in each match. If it goes green, you're done!
  </p>
  <p>
  <h3> Bugs </h3>
  </p>
  <p>
    I'm aware some things aren't yet quite working as well as expected. The leader board, for one, is kinda backwards and not really
    showing the proper scores. Most of these small things will be fixed by the end of the week. The main stuff works though,
    so get this weeks tips in! If you're feeling really keen, add some tips for the next few rounds as well (browse for rounds via my competitions).
  </p>
  <p>
    Last weeks (round 1) tips haven't yet been entered into the system. Rob and I will take care of that. Soon you'll all know how you stand.. I think
    Lewis (sp?) tipped all 8! First round bragging rights are a prestigious thing aren't they?
  </p>
  <p>
    If you notice parts of the site are slow, tell me which ones! Email any issues you have to josh@letsengage.com.au and I'll get on top of them ASAP.
    Thanks!
  </p>

  <hr />

  <p> <h2> Welcome to Engage Footy Tipping </h2> <h3> 25th Mar 2011 </h3> </p>
  <p>
    As you've probably figured out, there's still a whole lot of work that needs to be done before this is
    going to be any better than doing your tips on the print out that Rob is bringing around. You'll be able
    to do your tips here for week 2 though.
  </p>
  <p>
    For now, create a <a href="{% url auth_login %}">login</a> so you've got an account. Then you'll need to
    register for a competition. There's only one at the moment so it shouldn't be too difficult. Click on the
    'all competitions' link on the right hand side, and click the 'register' button that appears on the competition.
  </p>
  <p>
    If you can't register for the competition, let me know. It has a cut off date of before the season, but I'm
    extending it because this took a bit longer than I thought. If I haven't extended it enough, I'll just register
    everyone for the competition on Wednesday next week.
  </p>
  <p>
    Any problems, blame Rob for letting me do this. Then you can come speak to me :P
  </p>
  <p>
    What's coming:
    <ul>
      <li> Scores, Leaderboards, Tipping History </li>
      <li> Comments, so we can give each other shit </li>
      <li> Might throw in some team stats as well, to see which Project is the best </li>
    </ul>
  </p>
  <p> Have Fun and Good Luck! </p>
{% endblock %}
